.FindRecipe {
  margin: 20px 20px;
}
.FindRecipeTitle {
  font-size: 2em;
  line-height: 50px;
  margin: 0;
}
.RecipeTextColor {
  color: #fbb383;
}
.FindRecipeInput {
  width: 400px;
  line-height: 40px;
  border-radius: 5px;
  border-color: #f2f2f2;
  margin: 20px 10px;
}