body {
  background: url('../../assets/images/back-picture.jpg');
  
}
section {
  width: 60%;
  margin: 50px auto;
  color: #632903;
  padding: 10px 20px;
  text-align: center;
  background-color: #f5f0f2;
  border-radius: 5px;
}
.SingleRecipe {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.ShowAllRecipesTitle {
  font-size: 2em;
  line-height: 50px;
}
.RecipeTextColor {
  color: #fbb383;
} 